<div class="container">
    <div class="row">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 
                     <div class="col-md-4">
                        <a routerLink="customers" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
                  
                     </div>
                            
                     <div class="col-md-4">
                            <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
                     </div> 
                      <div class="col-md-4">
                            <a routerLink="custom-data" class="btn btn-primary active" role="button" routerLinkActive="active">Custom Customers Data</a>
                     </div>
                </div>
            </nav>
        </div>
</div>