<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Service Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="employee">Employee List Services</a></li>
      <li><a routerLink="tdForms">Template Driven Forms</a></li>
      <li><a routerLink="cpipe">Custom pipe</a></li>
      <li><a routerLink="gfireBase">Google Firebase</a></li>
      <li><a routerLink="dbSqlphp">Mysql DataBase With PHP</a></li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>